<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:node="merge">
        <activity
            android:name="ch.epfl.prifiproxy.activities.OnScreenLogActivity"
            android:label="@string/on_screen_log_activity_label"
            android:parentActivityName="ch.epfl.prifiproxy.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.prifiproxy.activities.MainActivity" />
        </activity>
    </application>
</manifest>